
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Blog1</title>
<!--    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>



<div>

        <div class="div1">
            {%for post in post%}
                 <h1>{{ post.title }}</h1>
                <em>{{ post.created_date }}</em>
                 <h3>{{ post.author }}</h3>
                 <p>{{ post.text }}</p>
            {% endfor %}
        </div>

</body>
</html>
